body {
  line-height: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.app {
  font-family: 'Roboto', sans-serif;
  text-rendering: geometricPrecision;
}

.mdl-tooltip {
  text-rendering: initial;
}

:focus {
  outline: none;
}

button:focus {
  outline: initial;
}

.container-fluid {
  padding-bottom: 3.6rem;
}

/*======================================
            Header Styles
=======================================*/

header {
  height: 64px;
  border-bottom: #e0e0e0 1px solid;
  padding: 8px 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}

.logo img {
  height: 40px;
  width: 40px;
  padding: 3px;
}

.logo span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 1.2;
  font-weight: 400;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 10px;
  font-size: 21px;
  cursor: default;
  letter-spacing: -0.5px;
}

.count {
  display: inline-block;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-weight: 500;
  line-height: 20px;
  cursor: default;
  min-width: 36px;
  text-align: center;
}

.data {
  width: 200px;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.year-box {
  display: inline-block;
}

.year-box span {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.btn-group button {
  margin-left: 2px;
  margin-right: 2px;
}

/*======================================
            FAB Styles
=======================================*/

.fab-holder {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 506;
}

.mdl-button--fab {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.mdl-button--fab.mdl-button--colored {
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}

/*======================================
            Calendar Styles
=======================================*/

.cal {
  width: 270px;
  height: 340px;
  margin: 0 auto;
}

.col-12 {
  margin-bottom: 25px;
}

.cal .header > span {
  color: #757575;
  font-size: 18px;
  padding-left: 12px;
  cursor: default;
}

table .weekdays {
  color: #757575;
  font-size: 12px;
}

table {
  width: 100%;
  text-align: center;
}

table td {
  height: 46px;
}

tr.weekdays td {
  cursor: default;
}

/*======================================
            Calendar Day Styles
=======================================*/

table td {
  height: 44px;
}

span.marked {
  background-color: #ffa296;
  color: white;
}

span.today {
  font-weight: 900;
  font-size: 16px;
}

table td span {
  padding: 8px;
  width: 100%;
  max-width: 36px;
  border-radius: 50px;
  display: inline-block;
  background-color: white;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
table td span:hover:not(.marked):not(.blank) {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

table td span.marked:hover {
  background-color: rgba(255, 162, 150, 0.72);
  cursor: pointer;
}

/*======================================
            Media Queries
=======================================*/

@media (max-width: 767px) {
  #app {
    text-rendering: initial;
  }

  header {
    height: 56px;
    padding: 4px 15px;
  }
  .data {
    width: 100%;
  }

  .cal {
    width: 100%;
    max-width: 375px;
    height: initial;
  }

  .col-12 {
    margin-bottom: 60px;
  }

  .cal .header > span {
    font-size: 20px;
  }

  table td {
    height: 50px;
  }

  table td span {
    font-size: 16px;
  }
}

/*======================================
            Fade Transitions
=======================================*/

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 0ms ease-in;
}
